<!DOCTYPE html>
<html>
  <head>
    <title>Plantsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.plantsyLogo = "<%= image_url('plantsy_logo.png') %>";
    </script>
    
    <script type="text/javascript">
      window.cartImg = "<%= image_url('cart.png') %>";
    </script>
    <script type="text/javascript">
      window.usa = "<%= image_url('usa.png') %>";
    </script>
    <script type="text/javascript">
      window.energy = "<%= image_url('energy.png') %>";
    </script>

    <script type="text/javascript">
      window.tester1 = "<%= image_url('tester1.png') %>";
    </script>
    <script type="text/javascript">
      window.tester2 = "<%= image_url('tester2.png') %>";
    </script>
    <script type="text/javascript">
      window.pic = "<%= image_url('houseplants.png') %>";
    </script>
    
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;300;400;500;600&family=Space+Mono&family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather+Sans:wght@300;400;500;600;800&family=Montserrat:wght@100;300;400;500;600&family=Prompt:wght@200;300;400;600&family=Space+Mono&family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Plantsy</title>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

